{% extends 'base.html.twig' %}

{% block title %}New Seance{% endblock %}

{% block body %}
	<div class="gen-breadcrumb">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-12">
					<h1>Créer une nouvelle séance</h1>
				</div>
				{% for message in app.flashes('success') %}
					<div class="alert alert-success">
						{{ message }}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="container mt-4">
		{{ include('admin/seance/_form.html.twig') }}
	</div>

	<div class="m-4">
		<a class="btn btn-warning" href="{{ path('admin.seance.index') }}">Retour à la liste</a>
	</div>
{% endblock %}
